@import 'vars';
@import 'global';
@import 'fonts';
// start header
.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    &__menu{
        margin-right: 40px;
        margin-left: auto;
    }
    &__list{
        display: flex;
        li+li{
            margin-left: 30px;
        }
        a{
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
            color: #393939;
        }
    }
    &__search{
        position: relative;
        &:hover{
            input{
                width: 208px;
            }
        }
        input{
           width: 0;
            height: 28px;
            border: 1px solid #999999;
            border-radius: 20px;
            padding: 0 10px;
            padding-right: 25px;
            outline: none;
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            color: $text;
            transition: all .5s;
           
            &::placeholder{
                font-family: 'Lato', sans-serif;
                color: $text;
                font-size: 16px;
            }
        }
        button{
          background-color: transparent;
            position: absolute;
            right: 5px;
            top: 3px;
            border: none;
            outline: none;
            border-radius: 20px;
            cursor: pointer;
       
        &::before{
            content: "\f002";
            font-family: 'icomoon';
            font-size: 16px;
            color: #999999;
            
        }
        }
    }
}

.hamburger{
    padding: 0;
}
// end header
// start expert
.expert{
    min-height: 666px;
    background-image: url(../images/expert-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__wrapper{
        min-height: 666px;
        background-color: rgba( #000000, .7);
      
    }
    &__inner{
      
        position: relative;
        &::before{
            content: "";
            position:absolute;
            background-image: url(../images/expert-man.png);
            background-position:  top center;
            background-size: cover;
       left: 100px;
       top: 50px;
            width: 346px;
            height: 617px;
            z-index: 2;
        }
    }
    &__inner-content{
        color: #fff;
        padding-top: 200px;
        max-width: 600px;
        margin-left: auto;
        margin-right: 0;
      
    }
    &__title{
        font-size: 40px;
        font-weight: 900;
        line-height: 22px;
        margin-bottom: 30px;
       
    }
    &__button{
        margin-top: 40px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        margin-right: 10px;
        width: 170px;
        text-align: center;
        padding: 15px 0;
        border: 1px solid #fff;
        &-learn{
background-color: $yellow;
border: none;
        }
    }
}
// end expert
// start age
.age{
background-image: url(../images/age-bg.jpg);
background-size: cover;
background-position: center;
&__inner{
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
&__title{
    font-weight: 700;
    font-size: 26px;
}
&__number{
    font-weight: 900;
    width: 200px;
    text-align: center;
    padding: 15px 10px;
    padding-left: 25px;
    color: #fff;
    background-color: $yellow;
    position: relative;
    &::before{
        content: "\f10b";
        position: absolute;
        left: 30px;
        font-size: 18px;
        font-family: 'icomoon';
    }
}
}
// end age
// start why
.why{
    padding: 113px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            border: 3px solid #e6e6e6;
            bottom: 25px;
            right: 25px;
            width: 440px;
            height: 421px;
            z-index: -1;
        }
    }
    &__content{
        width: 622px;
    }
    &__title{
        font-weight: 900;
        font-size: 30px;
        padding-bottom: 17px;
        margin-bottom: 20px;
        position: relative;
        color: $title;
        &::before{
            content: "";
            position: absolute;
            border-bottom: 3px solid $blue;
            width: 60px;
            bottom: 0;
            left: 0;
        }
    }
    &__text{
        font-size: 15px;
        color: $text;
        margin-bottom: 40px;
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        width: 295px;
        margin-bottom: 49px;
        padding-left: 75px;
        position: relative;
        &::before{
            content: "\f013";
            position: absolute;
            font-size: 25px;
            font-family: 'icomoon';
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 0;
            top: 0;
            width: 60px;
            height: 60px;
            background-color: $blue;
        }
        &-buble{
            &::before{
                content: "\f075";
            }
        }
        &-gift{
            &::before{
                content: "\f06b";
            }
        }
        &-heart{
            &::before{
                content: "\f004";
            }
        }
        &-title{
            font-weight: 700;
            margin-bottom: 15px;
        }
        &-text{
            font-size: 15px;
            color: $text;
        }
    }
}
// end why
// start services
.services{
    background-color: #303030;
    padding: 73px 0 97px;
    &__inner{
        text-align: center;
    }
    &__title{
        color: #fff;
     margin-bottom: 60px;
        &::before{
            border-color: #fff;
            left: 50%;
            transform: translateX(-50%)
        }
    }
    &__slider{
        margin-bottom: 60px;
&-box{
    width: 270px;
    text-align: center;
    border: 2px solid $blue;
    padding: 48px 25px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background-color: $blue;
    }
}
&-img{
    margin-bottom: 27px;
    &::before{
        font-size: 60px;
        color: #fff;
    }
}
&-title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}
&-text{
    font-size: 15px;
    color: #cccccc;
}
    }
}
.slick-arrow{
    background-color: transparent;
border: none;
outline: none;
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 2;
cursor: pointer;
}
.slick-next{
    right: -30px;
}
.slick-prev{
    left: -55px;
}
.services__btn,
.projects__link{
    background-color: $yellow;
    font-weight: 700;
    font-size: 15px;
    width: 200px;
    text-align: center;
    padding: 13px 10px;
    color: #fff;
    text-transform: uppercase;
}
// end services
// start projects
.projects{
padding: 79px 0 98px;
text-align: center;
&__title{
    margin-bottom: 40px;
    &::before{
        left: 50%;
        transform: translateX(-50%)
    }
}
&__buttons{
    margin-bottom: 36px;
}
&__button{
    font-weight: 700;
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: $text;
    cursor: pointer;
    outline: none;
    transition: all .3s;
    &+&{
        margin-left: 23px;
    }
}
&__items{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 65px;
}

}
.projects__button.mixitup-control-active{
    color: $yellow;
}
.projects__item{
  margin-top: -7px;
    width: 390px;
    height: 292px;
   position: relative;
   overflow: hidden;
   &:hover{
       .projects__item--hover{
     
        top: 0;
    }
   }
   &-title{
       color: $yellow;
       font-weight: 700;
       font-size: 20px;
       margin-bottom: 9px;
   }
   &-text{
       color: #fff;
       position: relative;
       &::before{
           content: "\f002";
           position: absolute;
           bottom: -50px;
           left: 50%;
           font-family: 'icomoon';
           transform: translateY(-50%);
           font-size: 18px;
           color: #fff;
       }
   }
}
.projects__item--hover{
    transition: all .4s;
    top: -300px;
  left: 0;
    position: absolute;
    width: 390px;
    height: 292px;
    background-color: rgba($blue, .9);
    padding: 103px 15px 0;
}
.projects__link{
    width: 168px;
}
// end projects
// start call
.call{
    background-image: url(../images/call-bg.jpg);
    height: 580px;
    background-size: cover;
    background-position: center center;
   
    &__wrapper{
        background-color: rgba( #000000,  .7);
        height: 580px;
    }
    &__inner{
       

        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-image: url(../images/call-man.png);
            background-size: cover;
            background-position: top center;
            right: 25px;
            top: 33px;
            width: 492px;
            height: 547px;
        }
    }
    &__content{
        max-width: 560px;
        padding-top: 184px;
    }
    &__title{
       
        color: #fff;
        font-weight: 700;
        font-size: 36px;
        line-height: 52px;
        text-transform: uppercase;
    }
    &__link{
        margin-top: 40px;
        display: block;
        background-color: $yellow;
        width: 260px;
        padding: 10px;
        padding-left: 30px;
        text-align: center;
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        position: relative;
        &::before{
            content: "\f10b";
position: absolute;
font-family: 'icomoon';
color: #fff;
left: 22px;
font-size: 25px;
        }
    }
}
// end call
// start contacts
.contacts{
    background-image: url(../images/contacts-bg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 696px;
    &__inner{
       padding: 74px 0 90px;
       display: flex;
       justify-content: space-between;
    }
&__location{
    &-title{
        margin-bottom: 50px;
}
&-map{
    width: 466px;
    height: 416px;
    border: 4px solid #fff;
}
}



    &__quote{
        max-width: 639px;
        &-title{
            margin-bottom: 50px;
        }
      &-input{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          input{
              width: 310px;
              margin-bottom: 20px;
              height: 50px;
              padding: 0 20px;
              border: none;
              &::placeholder{
                font-family: 'Lato', sans-serif;
                  font-size: 15px;
                  font-weight: 500;
                  color: $text;
              }
          }
      }
        textarea{
            height: 150px;
            width: 100%;
            resize: none;
            padding: 20px;
            margin-bottom: 35px;
            &::placeholder{
                font-family: 'Lato', sans-serif;
                  font-size: 15px;
                  font-weight: 500;
                  color: $text;
              }
        }
        button{
            background-color: $yellow;
            font-weight: 700;
            font-size: 15px;
            width: 140px;
            text-align: center;
            padding: 13px 10px;
            color: #fff;
            text-transform: uppercase;
            cursor: pointer;
            border: none;
            outline: none;
        }
    }
}
// end contacts
// start footer
.footer{
    &__top{
background-color: #1a1a1a;
&-inner{
    padding: 58px 0 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
}
&__title{
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 18px;
    color: #cccccc;
    text-transform: uppercase;
}
    &__bottom{
        text-align: center;
        background-color: #0d0d0d;
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
       
    }
}
.footer__contact{
    width: 350px;
}
.footer__contact-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}
.footer__contact-text{
    font-size: 15px;
    color: #999999;
    span{
        display: block;
        color: #cccccc;
       
    }
}
.footer__contact-icon{
    margin-right: 15px;
    &::before{
        font-family: 'icomoon';
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        font-size: 20px;
        color: $yellow;
        background-color: #252525;
        border-radius: 50%;
    }
}
.footer__services{
 width: 375px;
    &-list{
        columns: 2;
        li{
            margin-right: 48px;
            padding-left: 20px;
           margin-bottom: 12px;
           width: 175px;
           position: relative;
           &::before{
               content: "\f105";
               position: absolute;
               left: 0;
               color: $yellow;
               font-family: 'icomoon';
               font-size: 16px;
           }
        }
        a{
            color: #999999;
        }
    }
}
.footer__cupon{
    max-width: 370px;
    width: 100%;
    text-align: center;
    height: 220px;
    color: #999999;
    border: 1px dashed #404040;
}
.cupon__title{
    margin-top: 40px;
    font-weight: 700;
    font-size: 22px;
    span{
        font-weight: 900;
        font-size: 55px;
        color: $yellow;
        padding: 0 10px;
    }
}
.cupon__code{
    margin-top: 56px;
    margin-bottom: 25px;
    span{
        color: $yellow;
    }
}
.footer__bottom-text{
    max-width: 343px;
    color: $text;
    span{
        color: $yellow;
    }
}
// end footer
// start counter
.counter{
    background-image: url(../images/counter-bg.jpg);
    background-size: cover;
    background-position: bottom center;
   min-height: 340px;
   &__wrapper{
       background-color: rgba( #000000, .7);
       min-height: 340px;
   }
   &__inner{
       display: flex;
       justify-content: space-around;
       align-items: center;
       padding: 96px 0 90px;
   }
   &__item{
      
       width: 210px;
       display: flex;
       flex-direction: column;
align-items: center;
       &-icon{

    margin-bottom: 20px;
           &::before{
              
               font-size: 30px;
               color: #fff;
               width: 55px;
               height: 55px;
               border-radius: 50%;
               background-color: $blue;
               display: flex;
               justify-content: center;
               align-items: center;
           }
       }
       &-number{
           padding-right: 26px;
font-weight: 900;
font-size: 45px;
color: $yellow;
margin-bottom: 10px;
position: relative;
&::after{
    content: "+";
    position: absolute;
}
       }
       &-title{
           font-size: 17px;
           color: #999999;
       }
   }
}
// end counter
@import 'media';