@import 'vars';
@import 'global';
@import 'fonts';
// start header
.header{
   
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
      
    }
    &__menu{
        margin-right: 40px;
        margin-left: auto;
        overflow: auto;
    }
    &__list{
        display: flex;
        li+li{
            margin-left: 30px;
        }
        a{
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
            color: #393939;
        }
    }
    &__search{
        position: relative;
        &:hover{
            input{
                width: 208px;
            }
        }
        input{
           width: 0;
            height: 28px;
            border: 1px solid #999999;
            border-radius: 20px;
            padding: 0 10px;
            padding-right: 25px;
            outline: none;
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            color: $text;
            transition: all .5s;
           
            &::placeholder{
                font-family: 'Lato', sans-serif;
                color: $text;
                font-size: 16px;
            }
        }
        button{
          background-color: transparent;
            position: absolute;
            right: 5px;
            top: 3px;
            border: none;
            outline: none;
            border-radius: 20px;
            cursor: pointer;
       
        &::before{
            content: "\f002";
            font-family: 'icomoon';
            font-size: 16px;
            color: #999999;
            
        }
        }
    }
}

.hamburger{
    padding: 0;
    display: none;
}
// end header
// start expert
.expert{
    min-height: 666px;
    background-image: url(../images/expert-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__wrapper{
        min-height: 666px;
        background-color: rgba( #000000, .7);
      
    }
    &__inner{
      
        position: relative;
        &::before{
            content: "";
            position:absolute;
            background-image: url(../images/expert-man.png);
            background-position:  top center;
            background-size: cover;
       left: 100px;
       top: 50px;
            width: 346px;
            height: 617px;
            z-index: 2;
        }
    }
    &__inner-content{
        color: #fff;
        padding-top: 200px;
        max-width: 600px;
        margin-left: auto;
        margin-right: 0;
      
    }
    &__title{
        font-size: 40px;
        font-weight: 900;
        line-height: 22px;
        margin-bottom: 30px;
       
    }
    &__button{
        margin-top: 40px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        margin-right: 10px;
        width: 170px;
        text-align: center;
        padding: 15px 0;
        border: 1px solid #fff;
        &-learn{
background-color: $yellow;
border: none;
        }
    }
}
// end expert
// start age
.age{
background-image: url(../images/age-bg.jpg);
background-size: cover;
background-position: center;
&__inner{
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
&__title{
    font-weight: 700;
    font-size: 26px;
}
&__number{
    font-weight: 900;
    width: 200px;
    text-align: center;
    padding: 15px 10px;
    padding-left: 25px;
    color: #fff;
    background-color: $yellow;
    position: relative;
    &::before{
        content: "\f10b";
        position: absolute;
        left: 30px;
        font-size: 18px;
        font-family: 'icomoon';
    }
}
}
// end age
// start why
.why{
    padding: 113px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            border: 3px solid #e6e6e6;
            bottom: 25px;
            right: 25px;
            width: 440px;
            height: 421px;
            z-index: -1;
        }
    }
    &__content{
        width: 622px;
    }
    &__title{
        font-weight: 900;
        font-size: 30px;
        padding-bottom: 17px;
        margin-bottom: 20px;
        position: relative;
        color: $title;
        &::before{
            content: "";
            position: absolute;
            border-bottom: 3px solid $blue;
            width: 60px;
            bottom: 0;
            left: 0;
        }
    }
    &__text{
        font-size: 15px;
        color: $text;
        margin-bottom: 40px;
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        width: 295px;
        margin-bottom: 49px;
        padding-left: 75px;
        position: relative;
        &::before{
            content: "\f013";
            position: absolute;
            font-size: 25px;
            font-family: 'icomoon';
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 0;
            top: 0;
            width: 60px;
            height: 60px;
            background-color: $blue;
        }
        &-buble{
            &::before{
                content: "\f075";
            }
        }
        &-gift{
            &::before{
                content: "\f06b";
            }
        }
        &-heart{
            &::before{
                content: "\f004";
            }
        }
        &-title{
            font-weight: 700;
            margin-bottom: 15px;
        }
        &-text{
            font-size: 15px;
            color: $text;
        }
    }
}
// end why
// start ourservices
.our-services{
    background-color: #303030;
    padding: 73px 0 97px;
    &__inner{
        text-align: center;
    }
    &__title{
        color: #fff;
     margin-bottom: 60px;
        &::before{
            border-color: #fff;
            left: 50%;
            transform: translateX(-50%)
        }
    }
    &__slider{
        margin-bottom: 60px;
&-box{
    width: 270px;
    text-align: center;
    border: 2px solid $blue;
    padding: 48px 25px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background-color: $blue;
    }
}
&-img{
    margin-bottom: 27px;
    &::before{
        font-size: 60px;
        color: #fff;
    }
}
&-title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}
&-text{
    font-size: 15px;
    color: #cccccc;
}
    }
}
.slick-arrow{
    background-color: transparent;
border: none;
outline: none;
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 2;
cursor: pointer;
}
.slick-next{
    right: -30px;
}
.slick-prev{
    left: -55px;
}
.our-services__btn,
.projects__link{
    background-color: $yellow;
    font-weight: 700;
    font-size: 15px;
    width: 200px;
    text-align: center;
    padding: 13px 10px;
    color: #fff;
    text-transform: uppercase;
}
// end our-services
// start projects
.projects{
padding: 79px 0 98px;
text-align: center;
&__title{
    margin-bottom: 40px;
    &::before{
        left: 50%;
        transform: translateX(-50%)
    }
}
&__buttons{
    margin-bottom: 36px;
}
&__button{
    font-weight: 700;
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: $text;
    cursor: pointer;
    outline: none;
    transition: all .3s;
    &+&{
        margin-left: 23px;
    }
}
&__items{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 65px;
}

}
.projects__button.mixitup-control-active{
    color: $yellow;
}
.projects__item{
  margin-top: -7px;
    width: 390px;
    height: 292px;
   position: relative;
   overflow: hidden;
   &:hover{
       .projects__item--hover{
     
        top: 0;
    }
   }
   &-title{
       color: $yellow;
       font-weight: 700;
       font-size: 20px;
       margin-bottom: 9px;
   }
   &-text{
       color: #fff;
       position: relative;
       margin-bottom: 15px;
    //    &::before{
    //        content: "\f002";
    //        position: absolute;
    //        bottom: -50px;
    //        left: 50%;
    //        font-family: 'icomoon';
    //        transform: translateY(-50%);
    //        font-size: 18px;
    //        color: #fff;
    //    }
   }
}
.projects__item-links{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    color: #979797;
    padding-top: 10px;
    margin-right: 14px;
    transition: all .3s;
    &:hover{
        color: #fff;
        background-color: $yellow;
    }
}
.projects__item--hover{
    transition: all .4s;
    top: -350px;
  left: 0;
    position: absolute;
    width: 390px;
    height: 292px;
    background-color: rgba($blue, .9);
    padding: 103px 15px 0;
}
.projects__link{
    width: 168px;
}
.projects__item.projects__item-main{
    width: 475px;
    height: 322px;
    .projects__item--hover{
        width: 475px;
        height: 322px;
      
    }
}
// end projects
// start call
.call{
    background-image: url(../images/call-bg.jpg);
    height: 580px;
    background-size: cover;
    background-position: center center;
   
    &__wrapper{
        background-color: rgba( #000000,  .7);
        height: 580px;
    }
    &__inner{
       

        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-image: url(../images/call-man.png);
            background-size: cover;
            background-position: top center;
            right: 25px;
            top: 33px;
            width: 492px;
            height: 547px;
        }
    }
    &__content{
        max-width: 560px;
        padding-top: 184px;
    }
    &__title{
       
        color: #fff;
        font-weight: 700;
        font-size: 36px;
        line-height: 52px;
        text-transform: uppercase;
    }
    &__link{
        margin-top: 40px;
        display: block;
        background-color: $yellow;
        width: 260px;
        padding: 10px;
        padding-left: 30px;
        text-align: center;
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        position: relative;
        &::before{
            content: "\f10b";
position: absolute;
font-family: 'icomoon';
color: #fff;
left: 22px;
font-size: 25px;
        }
    }
}
// end call
// start contacts
.contacts{
    background-image: url(../images/contacts-bg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 696px;
    &__inner{
       padding: 74px 0 90px;
       display: flex;
       justify-content: space-between;
    }
&__location{
    &-title{
        margin-bottom: 50px;
}
&-map{
    width: 466px;
    height: 416px;
    border: 4px solid #fff;
}
}



    &__quote{
        max-width: 639px;
        &-title{
            margin-bottom: 50px;
        }
      &-input{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          input{
              width: 310px;
              margin-bottom: 20px;
              height: 50px;
              padding: 0 20px;
              border: none;
              &::placeholder{
                font-family: 'Lato', sans-serif;
                  font-size: 15px;
                  font-weight: 500;
                  color: $text;
              }
          }
      }
        textarea{
            height: 150px;
            width: 100%;
            resize: none;
            padding: 20px;
            margin-bottom: 35px;
            &::placeholder{
                font-family: 'Lato', sans-serif;
                  font-size: 15px;
                  font-weight: 500;
                  color: $text;
              }
        }
        button{
            background-color: $yellow;
            font-weight: 700;
            font-size: 15px;
            width: 140px;
            text-align: center;
            padding: 13px 10px;
            color: #fff;
            text-transform: uppercase;
            cursor: pointer;
            border: none;
            outline: none;
        }
    }
}
// end contacts
// start footer
.footer{
    &__top{
background-color: #1a1a1a;
&-inner{
    padding: 58px 0 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
}
&__title{
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 18px;
    color: #cccccc;
    text-transform: uppercase;
}
    &__bottom{
        text-align: center;
        background-color: #0d0d0d;
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
       
    }
}
.footer__contact{
    width: 350px;
}
.footer__contact-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}
.footer__contact-text{
    font-size: 15px;
    color: #999999;
    span{
        display: block;
        color: #cccccc;
       
    }
}
.footer__contact-icon{
    margin-right: 15px;
    &::before{
        font-family: 'icomoon';
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        font-size: 20px;
        color: $yellow;
        background-color: #252525;
        border-radius: 50%;
    }
}
.footer__services{
 width: 375px;
    &-list{
        columns: 2;
        li{
            margin-right: 48px;
            padding-left: 20px;
           margin-bottom: 12px;
           width: 175px;
           position: relative;
           &::before{
               content: "\f105";
               position: absolute;
               left: 0;
               color: $yellow;
               font-family: 'icomoon';
               font-size: 16px;
           }
        }
        a{
            color: #999999;
        }
    }
}
.footer__cupon{
    max-width: 370px;
    width: 100%;
    text-align: center;
    height: 220px;
    color: #999999;
    border: 1px dashed #404040;
}
.cupon__title{
    margin-top: 40px;
    font-weight: 700;
    font-size: 22px;
    span{
        font-weight: 900;
        font-size: 55px;
        color: $yellow;
        padding: 0 10px;
    }
}
.cupon__code{
    margin-top: 56px;
    margin-bottom: 25px;
    span{
        color: $yellow;
    }
}
.footer__bottom-text{
    max-width: 343px;
    color: $text;
    span{
        color: $yellow;
    }
}
// end footer
// start counter
.counter{
    background-image: url(../images/counter-bg.jpg);
    background-size: cover;
    background-position: bottom center;
   min-height: 340px;
   &__wrapper{
       background-color: rgba( #000000, .7);
       min-height: 340px;
   }
   &__inner{
       display: flex;
       justify-content: space-around;
       align-items: center;
       padding: 96px 0 90px;
   }
   &__item{
      
       width: 210px;
       display: flex;
       flex-direction: column;
align-items: center;
       &-icon{

    margin-bottom: 20px;
           &::before{
              
               font-size: 30px;
               color: #fff;
               width: 55px;
               height: 55px;
               border-radius: 50%;
               background-color: $blue;
               display: flex;
               justify-content: center;
               align-items: center;
           }
       }
       &-number{
           padding-right: 26px;
font-weight: 900;
font-size: 45px;
color: $yellow;
margin-bottom: 10px;
position: relative;
&::after{
    content: "+";
    position: absolute;
}
       }
       &-title{
           font-size: 17px;
           color: #999999;
       }
   }
}
// end counter
// start services page
// start breadcrumbs
.breadcrumbs{
    height: 300px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   text-align: center;
   &__wrapper{
       background-color: rgba($blue, .7);
min-height: 300px;
   }
   &__title{
       text-align: center;
       padding-top: 110px;
       margin-bottom: 20px;
       font-weight: 900;
       font-size: 50px;
       color: $yellow;
   }
   &__list{
       display: flex;
       justify-content: center;
       color: #fff;
       li+li{
           &::before{
               content: "/";
               padding: 0 5px;
           }
       }
   }
}
// end breadcrumbs
// start services
.services{
    padding: 80px 0 100px;
    background-color: #fff;
    &__inner{
        display: flex;
        text-align: left;
}
&__aside{
margin-right: 50px;
max-width: 270px;
width: 100%;
}
&__body{

}

}
.services__tab{
margin-bottom: 33px;
}
.services__tabs-item{
    cursor: pointer;
   
    width: 100%;
    background-color: transparent;
    border:1px solid #e6e6e6;
    
    height: 50px;
    margin-bottom: 10px;
   
    outline: none;
    position: relative;
    transition: all .3s;
    &.active{
        background-color: $blue;
        color: #fff;

        &::before{
            color: $yellow;
        }
        .services__tabs-link{
            color: #fff;
        }
    }
    &::before{
        content: "\f013";
        position: absolute;
        left: 20px;
        top: 9px;
        font-family: 'icomoon';
        font-size: 28px;
        color: #333333;
    }
}
.services__tabs-link{
    font-size: 16px;
    color: $text;
    font-family: 'Lato', sans-serif !important;
    padding: 10px 0;
    padding-left: 63px;
}
.electrical{
    &::before{
        content: "\f1e6";
    }
}
.plumbing{
    &::before{
        content: "\e901";
    }
}
.wallPaint{
    &::before{
        content: "\f1fc";
    }
}
.home{
    &::before{
        content: "\f015";
    }
}
.installation{
    &::before{
        content: "\f1b3";
    }
}
.garden{
    &::before{
        content: "\f06c";
    }
}
// end services
// start ads
.services__ads{
    height: 280px;
    background-color: $blue;
    margin-bottom: 50px;
    text-align: center;
    &-title{
        padding: 45px 0 16px;
        font-weight: 900;
        font-size: 28px;
        position: relative;
        color: #fff;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            width: 60px;
            left: 50%;
            transform: translateX(-50%);
            height: 3px;
            background-color: #fff;

        }
    }
}
// end ads
// start contact
.services__contact{
    text-align: left;
    &-title{
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 30px;
    }
    &-item{
        font-size: 18px;
        color: $text;
      padding-left: 33px;
        font-family: 'Lato', sans-serif !important;
        position: relative;
        margin-bottom: 22px;
        span{
            display: block;
        }
        &::before{
            font-family: 'icomoon';
            position: absolute;
            font-size: 28px;
            color: $blue;
            left: 0;
        }
    }
}
// end contact
// start services__body
.services__body{
    max-width: 850px;
    width: 100%;
    &-content{
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 47px;
    }
    &-img{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
        margin-bottom: 56px;
        min-height: 450px;
    }
    &-title{
        font-weight: 900;
        font-size: 26px;
        margin-bottom: 24px;
    }
    &-text{
        margin-bottom: 36px;

    }
    &-gallery{
        display: flex;
        justify-content: space-between;
        img{
            width: 270px;
            height: 230px;
        }
    }
}
.services__gallery-images{
    position: relative;
    width: 270px;
    height: 230px;
    overflow: hidden;
  
    &:hover{
        .services__gallery-images--hover{
        top: 0;
    }
}
}
.services__gallery-images--hover{
    position: absolute;
    transition: all .5s;
    left: 0;
    top: -200%;
    display: none;
    width: 270px;
            height: 230px;
            background-color: rgba( $blue, .8);
            display: flex;
            justify-content: center;
            align-items: center;
            &::before{
                font-size: 22px;
                color: $yellow;
                width: 60px;
                height: 60px;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            }
}

// end services__body
// end services page
// start main-services
.main-services{
padding: 73px 0 100px;
&__inner{
    display: flex;
   justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -30px;
}
&__item{
    margin-left: 30px;
    flex-basis: calc(25% - 30px);
    width: 270px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 260px;
   padding: 50px 25px 10px;
   transition: all .3s;
   margin-bottom: 30px;
   &:hover{
background-color: $blue;
border: none;
.main-services__item-icon,
.main-services__item-title,
.main-services__item-text{
    color: #fff;
}
   }
    &-icon{
        margin-bottom: 27px;
        color: $blue;
    }
    &-title{
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 21px;
        color: $title;
    }
    &-text{
        color: $text;
    }
}
}
// end main-services
// start single-project
.single-project{
    padding: 76px 0 93px;
    &__inner{
        display: flex;
    }
    &__body{
        max-width: 770px;
        width: 100%;
        margin-right: 30px;
        &-image{
            min-height: 436px;
            margin-bottom: 30px;
        }
    }
    &__info{
        display: flex;
        justify-content: space-between;
        &-item{
            position: relative;
            padding-left: 60px;
            font-family: 'Lato', sans-serif !important;
            &::before{
                position: absolute;
                font-family: 'icomoon';
                left: 0;
                top: 0;
                font-size: 24px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid #e8e8e8;
                display: flex;
                justify-content: center;
                align-items: center;
               
            }
        }
        &-name{
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 10px;
        }
        &-desc{
            color: $text;
        }
    }
}
.single-project__aside{
    &-item{
        display: flex;
        margin-bottom: 40px;
    }
    &-images{
        width: 140px;
        height: 100px;
        margin-right: 23px;
    }
    &-title{
        font-weight: 700;
        font-size: 20px;
    }
    &-tags{
        color: $text;
    }
}
// end single-project
// start about page
// start welcome
.welcome{
    padding: 79px 0 100px;
   &__title{
       margin-bottom: 60px;
   }
   &__box{
       display: flex;
   }
   &__tabs{
       margin-right: 38px;
       max-width: 270px;
   }
   &-tablinks{
       width: 270px;
       height: 50px;
       background-color: #f2f2f2;
       padding-left: 20px;
       font-size: 16px;
       color: $text;
       margin-bottom: 10px;
       border: none;
       outline: none;
       text-align: left;
       cursor: pointer;
  
       &.active{
           background-color: $blue;
           color: #fff;
           position: relative;
           width: 250px;
           font-weight: 900;
           &::before{
               content: "";
               position: absolute;
               right: -20px;
               top: 0px;
               width: 0;
               height: 0;
               border-top: 25px solid transparent;
	border-left: 20px solid $blue;
	border-bottom: 25px solid transparent;
           }
       }
   }
   &-tabcontent__wrapper{
display: flex;
   }
}
.welcome__content{
  margin-right: 45px;
  max-width: 452px;
  width: 100%;
  &-title{
      font-size: 28px;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 25px;
  }
  &-text{
      line-height: 24px;
      color: $text;
      margin-bottom: 32px;
  }
  &-tags{
      columns: 2;
      margin-bottom: 45px;
      li{
        font-family: 'Lato', sans-serif !important;
          font-weight: 700;
          font-size: 15px;
          padding-left: 33px;
          margin-bottom: 30px;
          position: relative;
          &::before{
              position: absolute;
              left: 0;
              top: -1px;
              font-family: 'icomoon';
              font-size: 25px;
              color: $blue;
          }
      }
  }
  &-button{
      width: 170px;
      height: 50px;
      text-align: center;
      background-color: $yellow;
      color: #fff;
      font-weight: 700;
      padding: 10px 10px;
  }
}
.welcome__image{
    width: 370px;
    height: 350px;
    background-color: $blue;
    padding: 4px;
    img{
        width: 362px;
        height: 343px;
    }
}
// end welcome
// start team
.team{
    padding: 80px 0 100px;
    &__title{
        text-align: center;
        margin-bottom: 60px;
        &::before{
            left: 50%;
            transform: translateX(-50%)
        }
    }
    &__box{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 270px;
        width: 100%;
        position: relative;
        &:hover{
            .team__item-social{
                bottom: 85px;
            }
          
        }
        &-image{
            img{
                height: 379px;
            }
        }
        &-info{
            text-align: center;
            background-color: $blue;
            color: #fff;
            height: 85px;
            padding: 10px 10px;
            margin-top: -7px;
            position: relative;
            z-index: 2;
        }
        &-name{
            font-weight: 700;
            font-size: 18px;
          
        }
        &-position{
            color: #cccccc;
        }
        &-social{
            position: absolute;
            bottom: 0;
            background-color: $blue;
            width: 100%;
            display: flex;
            justify-content: space-around;
            height: 56px;
            align-items: center;
            border-bottom: 1px solid #2f60a8;
            transition: all .3s;
           
        }
    }
}
.team__links{
    color: #fff;
    transition: all .3s;
    &:hover{
        color: #1da1f2;
    }
}
.team__fb{
&:hover{
    color: #3b5998;
}
}
.team__vk{
    &:hover{
        color: #4c75a3;
    }
    }
    .team__inst{
        &:hover{
            color: #8a3ab9;
        }
        }
        .team__google{
            &:hover{
                color: #4285F4;
            }
            }
// end team
// start reviews
.reviews{
    padding: 77px 0 90px;
    &__title{
        text-align: center;
        margin-bottom: 63px;
        &::before{
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
      
        position: relative;
        &-box{
            background-color: $blue;
            height: 215px;
            padding: 25px 33px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                border: 22px solid transparent;
                border-left: 22px solid $blue;
                border-top: 22px solid $blue;
                bottom: -20px;
                left: 42px;
            }
        }
        &-title{
            font-weight: 700;
            font-size: 18px;
            color: $yellow;
           
        }
        &-text{
            color: #fff;
            line-height: 24px;
        }
        .reviews__avatar-wrapper{
           display: flex;
           align-items: center;
           margin-top: 35px;
        }
        &-avatar{
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            width: 60px;
            height: 60px;
            border-radius: 50%;
           
           margin-right: 10px;
           
        }
        &-name{
         
            font-weight: 700;
            font-size: 18px;
        }
    }
}
// end reviews
// end about page
// start contact
.contact{
    padding: 80px 0 100px;
    &__map{
        max-width: 1170px;
        height: 400px;
    }
    &__inner{
        box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
        max-width: 1030px;
        margin: -70px auto 0;
        padding: 50px;
        position: relative;
        background-color: #fff;
      
    }
    &__title{
        text-align: center;
        margin-bottom: 37px;
        &::before{
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__form{
        text-align: center;
        input{
            max-width: 455px;
            width: 100%;
            background-color: #f2f2f2;
            border: 1px solid #e5e5e5;
            height: 50px;
            padding: 0 20px;
            &+input{
                margin-left: 16px;
            }
            &::placeholder{
                font-family: 'Lato', sans-serif;
                color: $text;
                font-size: 15px;
            }
        }
        textarea{
            margin-top: 20px;
            height: 160px;
            display: block;
            resize: none;
            width: 100%;
            padding: 20px;
            background-color: #f2f2f2;
            border: 1px solid #e5e5e5;
            &::placeholder{
                font-family: 'Lato', sans-serif;
                color: $text;
                font-size: 15px;
            }
        }
        button{

            margin-top: 40px;
            font-weight: 700;
            color: #fff;
            width: 140px;
            text-align: center;
            height: 50px;
            padding: 10px 10px;
            border: none;
            background-color: $yellow;
            cursor: pointer;
        }
    }
}
// end contact
// start FAQ
.faq{
    padding: 90px 0 100px;
    &__inner{
        display: flex;
     

    }
    &__accordion{
max-width: 570px;
width: 100%;
&-item{
    margin-bottom: 15px;
    &.active{
border-bottom: 1px solid #e5e5e5;
    }
}
    }
    &__accordion-title{
        display: flex;
        cursor: pointer;
        button{
            margin-left: 18px;
            margin-right: auto;
          font-size: 18px;
          color: $text;
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
        }
        &.active{
            .faq__accordion-svg--arrow{
                color: $yellow;
                transform-origin:center center ;
                svg{

                    transform: rotate(-180deg);
                }
            }
            .faq__accordion-svg--block{
                color: #fff;
                background-color: $yellow;
            }
            & .panel{
            }
        }
    }
}
.panel {
    padding: 0 18px;
    background-color: white;
    color: $text;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
   
  
    
}
.faq__accordion-svg--arrow{
    order: 3;
    color: #adadad;
    transition: all .3s;
   svg{
       transition: all .3s;
   }
}
.faq__accordion-svg--block{
width: 50px;
height: 50px;
background-color: #f2f2f2;
display: flex;
align-items: center;
justify-content: center;
color: #333333;
transition: all .3s;
}
.faq__form{
    margin-left: 97px;
    &-title{
        font-size: 24px;
        font-weight: 700;    
        margin-bottom: 16px;
    }
    &-text{
        color: $text;
        margin-bottom: 30px;
    }
    &-form{
        .faq__form-name{
            width: 100%;
        max-width: 500px;
        }
        
        input{
            width: 240px;
            margin-bottom: 20px;
            height: 50px;
            background-color: #f2f2f2;
            border: 1px solid #e5e5e5;
            padding: 0 18px;
            &::placeholder{
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                color: $text;
            }
        }
        textarea{
            width: 100%;
            height: 160px;
            resize: none;
            background-color: #f2f2f2;
            border: 1px solid #e5e5e5;
            padding: 18px 18px;
            margin-bottom: 30px;
            &::placeholder{
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                color: $text;
            }
        }
        button{
            background-color: $yellow;
            color: #fff;
            text-transform: uppercase;
            width: 140px;
            height: 50px;
            text-align: center;
            padding: 10px 10px;
            cursor: pointer;
            border: none;
            outline: none;
        }
    }
}
.faq__form-mail{
    margin-right: 19px;
}
// end FAQ
// start blog
.blog{
    padding: 80px 0 100px;
    &__inner{
        display: flex;
    }
    &__body{
        max-width: 850px;
        width: 100%;
        margin-right: 50px;
    }
}
.blog__item{
    margin-bottom: 60px;
    &-image{
        position: relative;
        margin-bottom: 37px;
        height: 380px;
        img{
        }
    }
    &-date{
        position: absolute;
        bottom: 0;
        font-size: 16px;
        background-color: $blue;
        color: #fff;
        width: 190px;
       height: 50px;   
       padding: 15px 10px;
       text-align: center;
       padding-left: 17px;
       font-family: 'Lato', sans-serif !important;
       &::before{
        position: absolute;
        left: 30px;
        font-family: 'icomoon';
        font-size: 16px;
        color: #fff;
       }

    }
    &-title{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &-text{
        margin-bottom: 20px;
        padding-bottom: 40px;
        border-bottom: 1px solid #e5e5e5;
        color: $text;
        &>span{
            display: block;
            margin: 23px 0;
        }
    }
    &-info{
        display: flex;
        align-items: center;
    }
    &-desc{
        font-size: 13px;
        color: $text;
        padding-left: 23px;
        margin-right: 19px;
        font-family: 'Lato', sans-serif !important;
        position: relative;
        &::before{
            position: absolute;
            left: 0;
            font-family: 'icomoon';
            font-size: 13px;
            color: $blue;
        }
    }
    &-link{
        margin-right: 0;
        margin-left: auto;
        font-weight: 900;
        padding-right: 20px;
        font-family: 'Lato', sans-serif !important;
        position: relative;
        &::before{
            position: absolute;
            right: 0;
            font-family: 'icomoon';
            font-size: 19px;
        }
    }
}
.blog__item-review{
    border-left: 4px solid $blue;
    padding: 10px 0 19px;
    padding-left: 24px;
    margin-bottom: 27px;
}
.blog__item-name{
    margin-top: 22px;

    span{
        font-size: 18px;
        font-weight: 700;
    }
}

.blog__aside{
    &-search{
        margin-bottom: 50px;
        position: relative;
        input{
            width: 270px;
            background-color: #f2f2f2;
            border: 1px solid #e5e5e5;
            height: 50px;
            padding-left: 20px;
            padding-right: 45px;
            &::placeholder{
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                color: $text; 
            }
        }
        button{
            background-color: transparent;
            position: absolute;
            right: 20px;
            top: 15px;
            border: none;
            outline: none;
            cursor: pointer;
            &::before{
                font-size: 18px;
                color: $text;
            }
        }
    }
   &-title{
       font-weight: 900;
       font-size: 22px;
       margin-bottom: 30px;
   }
}
.blog__categories{
    margin-bottom: 38px;
&-list{
    li{
        margin-bottom: 12px;
        padding-left: 20px;
        position: relative;
        &::before{
            content: "\f105";
            position: absolute;
            font-family: 'icomoon';
            left: 0;
            top: 1px;
            font-size: 19px;
        }
    }
    a{
        font-size: 16px;
        color: $text;
    }
}
}
.blog__recent{
    &-item{
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        img{
            width: 60px;
            height: 60px;
            margin-right: 15px;
        }
    }
    &-title{
        font-weight: 700;
        font-size: 16px;
    }
    &-date{
        color: $text;
    }

}
.blog__comments{
    margin-top: 57px;
   
    border-bottom: 1px solid #e5e5e5;
    &-title{
        font-size: 27px;
        font-weight: 700;
        margin-bottom: 38px;
    }
    &-comment{
        display: flex;
        color: $text;
        margin-bottom: 43px;
    }
    &-img{
       max-width: 70px;
       width: 100%;
       height: 70px;
       background-repeat: no-repeat;
       background-position: center center;
       background-size: cover;
       margin-right: 20px;
    }
    &-top{
        display: flex;
    }
    &-name{
        font-size: 18px;
        margin-left: 0;
        margin-right: auto;
    span{
        font-weight: 700;
        color: #333333;
    }
    }
    &-date{
        font-size: 17px;
        font-weight: 700;
    }
    &-reply{
font-weight: 700;
font-size: 14px;
padding-left: 25px;
margin-left: 18px;
position: relative;
&::before{
    content: "";
    position: absolute;
    left: 0;
    font-family: 'icomoon';
    color: $blue;
    font-size: 14px;
}
    }
}
.blog__reply-comment{
    padding-left: 90px;
}
// end blog
@import 'media';

  